<p id="notice"><%= notice %></p>

<h1>Fechas</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Hora</th>
      <th>Pregunta</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fechas.each do |fecha| %>
      <tr>
        <td><%= fecha.date %></td>
        <td><%= fecha.Hora %></td>
        <td><%= fecha.Pregunta %></td>
        <td><%= fecha.text %></td>
        <td><%= link_to 'Show', fecha %></td>
        <td><%= link_to 'Edit', edit_fecha_path(fecha) %></td>
        <td><%= link_to 'Destroy', fecha, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fecha', new_fecha_path %>
