<p id="notice"><%= notice %></p>

<h1>Cuestionarios</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Pregunta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cuestionarios.each do |cuestionario| %>
      <tr>
        <td><%= cuestionario.fecha %></td>
        <td><%= cuestionario.hora %></td>
        <td><%= cuestionario.pregunta %></td>
        <td><%= link_to 'Show', cuestionario %></td>
        <td><%= link_to 'Edit', edit_cuestionario_path(cuestionario) %></td>
        <td><%= link_to 'Destroy', cuestionario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cuestionario', new_cuestionario_path %>
