<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @cuestionario.fecha %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @cuestionario.hora %>
</p>

<p>
  <strong>Pregunta:</strong>
  <%= @cuestionario.pregunta %>
</p>

<%= link_to 'Edit', edit_cuestionario_path(@cuestionario) %> |
<%= link_to 'Back', cuestionarios_path %>
